
   
    body{
      background-color:rgb(198, 220, 226);
    }
    
    .sidebar {
      margin: 0;
      padding: 0;
      width: 200px;
      background-color: #f1f1f1;
      position: fixed;
      height: 100%;
      overflow: auto;
    }
    
    .sidebar a {
      display: block;
      color: black;
      padding: 16px;
      text-decoration: none;
    }
     
    .sidebar a.active {
      background-color: #d43c21;
      color: white;
    }
    
    .sidebar a:hover:not(.active) {
      background-color: rgb(16, 46, 16);
      color: white;
    }
    
    div.content {
      margin-left: 200px;
      padding: 1px 16px;
      height: 1000px;
    }
    
    @media screen and (max-width: 700px) {
      .sidebar {
        width: 100%;
        height: auto;
        position: relative;
      }
      .sidebar a {float: left;}
      div.content {margin-left: 0;}
    }
    
    @media screen and (max-width: 400px) {
      .sidebar a {
        text-align: center;
        float: none;
      }
    }
    
    p{
        font-family: "Impact", sans-serif;
        color: rgb(107, 86, 201);
    }

    h2{
        font-family: "Courier", sans-serif;
        color: rgb(3, 27, 34);
    }
